@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: Ubuntu;
  background-color: hsl(218, 89%, 93%);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;
}

@media screen and (max-width: 480px){
  html{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
    align-items: normal; 
  }
}
#root{
  margin: auto auto;
  padding: 0;
}