@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: Ubuntu;
  background-color: hsl(218, 89%, 93%);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;
  background-image: url('dist/images/bg-sidebar-mobile.svg');
  background-repeat: no-repeat;
  background-size:contain;
}

@media screen and (min-width: 768px){
  html{
    background-image: none;
  }
  /* #root{
    margin: auto auto;
  } */
}

@media screen and (max-width: 768px){
  #root{
    padding: 0;
    }
    html{
     height: min-content;
    }
}
